{% extends 'base.html' %}
{% block content %}
<h2>予約更新</h2>
<form method='POST' novalidate>
    {% csrf_token %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            【{{ error }}】
        {% endfor %}
    {% endif %}
    <p>
        予約ID {{ reservation.id }}
    <p>
        お名前 {{ form.last_name }} {{ form.first_name }}
    </p>
    <p>
        来店日時 {{ form.reservation_day}} {{ form.reservation_time }}
    </p>
    <p>
        来店人数 {{ form.reservation_count }}
    </p>
    <p>
        電話番号 {{ form.tell }}
    </p>
    <p>
        お祝い {{ form.celebration_existence }}
    </p>
    <p>
        お店への要望 {{ form.demand }}
    </P>
    <button>
        <a href="{% url 'reservations:reservationDetail' pk=reservation.id%}">
        戻る
        </a>
    </button>
    <input type='submit' value='更新'>
</form>
{% endblock %}
